section#compatible-services.section.has-background-white
  .container
    +title('Compatible services')

    -
      const services = [
        { name: 'dareboost', width: 235, height: 78 },
        { name: 'google-lighthouse', width: 80, height: 80 },
        { name: 'ecoindex', width: 220, height: 56 },
        { name: 'qualys-ssl-labs', width: 170, height: 54 },
        { name: 'mozilla-observatory', width: 202, height: 60 },
        { name: 'google-bigquery', width: 182, height: 64 },
        { name: 'slack', width: 176, height: 55 }
      ]

    .compatibleServices
      //- Large screen only (> 768px)
      .columns.is-multiline.is-vcentered.is-justify-content-center.is-hidden-mobile
        each service, index in services
          .column.is-3.has-text-centered
            .compatibleServices__item
              +svg(service.name, true, 'services/')(width=service.width height=service.height)

      //- Mobile only with carousel (<= 768px)
      .slider.is-hidden-tablet
        //- Carousel
        .slider__track
          each service, i in services
            .slider__slide
              +svg(service.name, true, 'services/')

        //- Bullets
        nav.slider__dots.is-hidden-tablet
          ul.slider__dotsWrap
            each _, i in Array(services.length)
              li
                button.slider__dotsItem(data-index=i)
