.card {
  padding: remFromPx(30);
  background: $white;
  border-radius: remFromPx(10);
  box-shadow: 0 remFromPx(2) remFromPx(4) 0 rgba($grey-lighter, 0.5);

  @include from($tablet) {
    padding: remFromPx(40) remFromPx(75);
  }

  .columns {
    --columnGap: 2rem;

    @include from($fullhd) {
      --columnGap: 3.5rem;
    }
  }

  .title {
    margin-bottom: remFromPx(35);
  }
}
