.catchphrase {
  margin-bottom: remFromPx(25);
  color: $color-astronaut;
  font-size: remFromPx(26);
  text-align: center;

  @include from($tablet) {
    margin: remFromPx(32) 0 remFromPx(15) 0;
  }

  @include mobile {
    br {
      display: block;
      margin-bottom: remFromPx(20);
      content: "";
    }
  }

  &.-light {
    color: $grey-dark;
    font-weight: $weight-light;
  }
}
