.code {
  padding: remFromPx(60) remFromPx(40);
  color: $white;
  white-space: pre-line;
  background: $black-bis;
  border-radius: remFromPx(4);

  &__step {
    display: block;
    margin: remFromPx(32) 0 remFromPx(16);
    color: $color-supernova;
    font-weight: bold;
  }

  &__title {
    display: block;
    font-style: italic;
    text-decoration: underline;
  }

  @include mobile {
    padding: remFromPx(60) remFromPx(17);
  }
}
