.compatibleServices {
  margin-top: remFromPx(60);

  @include from($tablet) {
    margin-top: remFromPx(35);
  }

  .column {
    padding: remFromPx(20);
  }

  &__item {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 remFromPx(3) 0;
    transition: border-color 0.3s;

    img {
      filter: grayscale(1);
      transition: filter 0.3s, transform 1s;
      max-height: remFromPx(80);
      max-width: 80%;
    }

    &:hover img {
      transform: translateY(remFromPx(-10));
      filter: grayscale(0);
    }
  }

  .slider__slide img {
    height: remFromPx(76);
  }
}
