.introduction {
  &__columns {
    @include from($tablet) {
      flex-direction: row-reverse;
    }
  }

  &__description {
    margin-bottom: remFromPx(25);
    color: $white;
    font-weight: $weight-light;
    font-size: remFromPx(28);
    line-height: 1.54;
    text-align: center;

    @include from($tablet) {
      margin-bottom: remFromPx(65);
      text-align: left;
    }
  }

  &__image {
    width: 100%;
    max-width: remFromPx(450);

    @include from($tablet) {
      max-width: remFromPx(622);
    }
  }

  &__title {
    margin-bottom: remFromPx(40);
    color: $white;
    font-size: remFromPx(40);
    line-height: 1.25;
    text-align: center;

    @include from($tablet) {
      margin-bottom: remFromPx(25);
      text-align: left;
    }
  }
}
