.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    font-weight: $weight-light;
    font-size: remFromPx(18);
    line-height: remFromPx(28);
    text-align: center;
  }

  &__icon {
    display: flex;
    align-items: flex-end;
    height: remFromPx(62);
    margin-bottom: remFromPx(20);

    &.-shape {
      width: remFromPx(66);
    }

    &.-social {
      width: remFromPx(47);
    }

    &.-puzzle {
      width: remFromPx(69);
    }
  }

  &__title {
    margin-bottom: remFromPx(35);
    color: $color-haiti;
    font-size: remFromPx(24);
    line-height: remFromPx(29);
    text-align: center;

    @include from($tablet) {
      margin-bottom: remFromPx(25);
      font-size: remFromPx(32);
    }
  }
}
