.list {
  margin: remFromPx(25) 0;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: remFromPx(40);

    @include from($tablet) {
      margin-bottom: remFromPx(50);
    }

    &:last-child {
      margin: 0;
    }

    &Icon {
      $list-icon-width: remFromPx(18);

      flex: 0 0 $list-icon-width;
      width: $list-icon-width;
      height: $list-icon-width;
      margin-right: remFromPx(22);
    }

    &Text {
      color: $grey;
      font-weight: $weight-light;
      font-size: remFromPx(22);
    }
  }
}
