.schema {
  $root: &;

  position: relative;
  display: flex;
  justify-content: center;
  margin-top: remFromPx(60);

  @include desktop-only() {
    transform: scale(0.9);
  }

  &__analysisContainer {
    display: flex;
    margin-bottom: remFromPx(16);

    &:last-child {
      margin: 0;
    }

    > * {
      margin-right: remFromPx(16);
      margin-left: remFromPx(16);
    }
  }

  &__arrow {
    $arrow: &;

    position: relative;

    @include desktop {
      margin: remFromPx(20) 0;
    }

    @include touch {
      left: remFromPx(-13);
    }

    &Number {
      position: absolute;
      left: calc(100% - #{remFromPx(4)});
      color: $color-madison;
      font-weight: $weight-bold;
      font-size: remFromPx(30);
      transform: translateX(-50%);

      @include desktop {
        top: remFromPx(-12);
        left: calc(50% + #{remFromPx(4)});
      }
    }
  }

  &__column {
    border-color: rgba($grey-lighter, 0.5);
    border-style: dashed;
    border-width: remFromPx(2) 0 0 0;

    @include desktop {
      padding: remFromPx(30) 0 remFromPx(75) 0;
      border-width: 0 0 0 remFromPx(2);
    }

    &:last-child {
      border-width: remFromPx(2) 0;

      @include desktop {
        border-width: 0 remFromPx(2);
      }
    }

    &.-isStep {
      position: relative;
      width: remFromPx(300);
      padding-right: remFromPx(7);
      padding-left: remFromPx(7);

      @include touch {
        > *:not(#{$root}__arrow) {
          position: absolute;
        }
      }

      &1 {
        #{$root}__info {
          top: remFromPx(25);
        }
      }

      &2 {
        #{$root}__info {
          bottom: remFromPx(25);
        }
      }

      &3 {
        #{$root}__info {
          bottom: remFromPx(25);
        }
      }

      &4 {
        #{$root}__info {
          top: remFromPx(25);
        }
      }

      &2,
      &3 {
        #{$root}__arrowNumber {
          top: remFromPx(73);
        }
      }

      &1,
      &4 {
        #{$root}__arrowNumber {
          bottom: remFromPx(76);
        }
      }
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    height: remFromPx(70);
    padding: remFromPx(10) remFromPx(20);
    color: $color-madison;
    font-size: remFromPx(14);
    font-style: italic;
    line-height: remFromPx(17);
    text-align: center;
    background-color: $grey-lightest;
    border: remFromPx(1) dotted $grey-lighter;
    border-radius: remFromPx(24);
  }

  &__listeners {
    display: flex;

    @include desktop {
      position: absolute;
      bottom: remFromPx(10);
    }

    > * {
      margin-right: remFromPx(10);
      margin-left: remFromPx(10);
    }
  }

  &__square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: remFromPx(80);
    height: remFromPx(80);
    color: $color-madison;
    font-weight: $weight-bold;
    font-size: remFromPx(20);
    background-color: $white;
    border-radius: remFromPx(20);
    box-shadow: 0 remFromPx(4) remFromPx(8) 0 rgba($grey-light, 0.5);

    @include desktop {
      margin-top: remFromPx(10);
      margin-bottom: remFromPx(10);
    }

    img {
      max-height: remFromPx(52);
      max-width: remFromPx(52);
    }

    &.-big {
      width: remFromPx(152);
      height: remFromPx(152);
    }

    &.-tool {
      width: remFromPx(204);
      height: remFromPx(204);
      background: $gradient-alpha;

      svg {
        &:first-child {
          width: remFromPx(94);
          height: remFromPx(81);
        }

        &:last-child {
          width: remFromPx(78);
          height: remFromPx(28);
          margin-top: remFromPx(10);
        }
      }
    }
  }
}
