.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include from($tablet) {
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    display: block;
    width: remFromPx(48);
    height: remFromPx(30);
    margin: 0 0 remFromPx(20) 0;

    @include from($tablet) {
      margin: 0 remFromPx(22) 0 0;
    }
  }

  &__text {
    color: $color-astronaut;
    font-size: remFromPx(26);

    @include from($tablet) {
      font-size: remFromPx(32);
    }
  }
}
