# Logs
*.log

# Dependency directories
.cache
node_modules/

# Common toolchain intermediate files
dist

# OS X temporary files
.DS_Store

# Visual Studio Code
.vscode

# Firebase
.firebase

# Parcel cache
.parcel-cache

# sprite
src/assets/icons/sprite.svg
