-
  const infosInlineSvg = {
    'mysql': 'MySQL',
    'icon-mysql': 'MySQL',
    'google-lighthouse': 'Google Lighthouse',
    'icon-google-lighthouse': 'Google Lighthouse',
    'mozilla-observatory': 'Mozilla Observatory',
    'icon-mozilla-observatory': 'Mozilla Observatory',
    'qualys-ssl-labs': 'Qualys SSL Labs',
    'icon-qualys-ssl-labs': 'Qualys SSL Labs',
    'greenit': 'GreenIT Analysis',
    'icon-greenit': 'GreenIT Analysis',
    'slack': 'Slack',
    'icon-slack': 'Slack',
  }

mixin svg(svg_id, inline=false, directory = '')
  if !inline
    svg&attributes(attributes)
      use(href="assets/icons/sprite.svg#" + svg_id)
  else
    +img(src="assets/icons/inline/" + directory + svg_id + ".svg", alt=infosInlineSvg[svg_id] || "")&attributes(attributes)
