mixin item(item)
  .item
    div(class="item__icon -" + item.icon)
      +svg(item.icon, true)(width=item.width height=item.height)
    h3.item__title= item.title
    p.item__description !{ item.description }
